/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Roboto");

$base-font: 'Roboto', sans-serif;
$header-font: 'EB Garamond', serif;

$base-size: 16px;
$base-height: 1.4;

$white: #FAFAFA;
$red: #EE5F5B;
$black: #313131;
$grey: rgba(129,129,129,0.4);
