<div class="flexbox">
  <div class="logo">
    <h1>Tight.</h1>
    <h1>Schedule.</h1>
    <div class="login">
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn" %>
    </div>
  </div>
</div>
