.logo {
  text-align: center;
  h1 {
  font-size: 40px;
  margin: -5px;
  }
  a {
    text-decoration: none;
  }
}
.logo-nav {
  color: $white;
  text-align: left;
  text-decoration: none;
  float: left;
  h1 {
    font-size: 20px;
  }
}
